@layer components {
  .btn {
    --btn-icon-offset: calc(var(--spacing) * 0.5);
    --btn-radius: 0.5rem;

    display: flex;
    gap: var(--btn-gap);
    align-items: center;
    justify-content: center;
    min-width: calc(var(--spacing) * 16);
    height: var(--btn-h);
    padding-inline-start: var(--btn-pi);
    padding-inline-end: var(--btn-pi);
    font-weight: 500;
    user-select: none;
    border-radius: var(--btn-radius);
    transition-timing-function: ease;
    transition-duration: 200ms;
    transition-property: scale, color, background-color, box-shadow;
    will-change: transform;
  }

  .btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .btn-tap:active:not(:disabled) {
    scale: 0.97;
  }

  .btn-rounded {
    --btn-radius: 9999px;
  }

  .btn-xs {
    --btn-h: calc(var(--spacing) * 8);
    --btn-pi: calc(var(--spacing) * 3);
    --btn-gap: calc(var(--spacing) * 1.5);
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .btn-sm {
    --btn-h: calc(var(--spacing) * 9);
    --btn-pi: calc(var(--spacing) * 3);
    --btn-gap: calc(var(--spacing) * 1.5);
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .btn-md {
    --btn-h: calc(var(--spacing) * 10);
    --btn-pi: calc(var(--spacing) * 4);
    --btn-gap: calc(var(--spacing) * 1.5);
    --btn-icon-offset: calc(var(--spacing) * 1);
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .btn-lg {
    --btn-h: calc(var(--spacing) * 11);
    --btn-pi: calc(var(--spacing) * 4);
    --btn-gap: calc(var(--spacing) * 1.5);
    --btn-icon-offset: calc(var(--spacing) * 1);
  }

  .btn-xl {
    --btn-h: calc(var(--spacing) * 12);
    --btn-pi: calc(var(--spacing) * 5);
    --btn-gap: calc(var(--spacing) * 2);
    --btn-icon-offset: calc(var(--spacing) * 1);
  }

  @supports selector(:has(> svg)) {
    .btn:has(> svg:first-child:not(:last-child)) {
      padding-inline-start: calc(var(--btn-pi) - var(--btn-icon-offset));
    }

    .btn:has(> svg:last-child:not(:first-child)) {
      padding-inline-end: calc(var(--btn-pi) - var(--btn-icon-offset));
    }

    .btn:has(> svg:only-child) {
      padding-inline-start: calc(var(--btn-pi) - var(--btn-icon-offset));
      padding-inline-end: calc(var(--btn-pi) - var(--btn-icon-offset));
    }
  }
}
