@layer components {
  pre > code {
    counter-reset: line;
  }

  pre > code [data-line]::before {
    display: inline-block;
    width: 1.25rem;
    margin-right: 0.75rem;
    color: var(--color-content-subtle);
    text-align: right;
    content: counter(line);
    counter-increment: line;
  }

  .slider-row {
    --slider-thumb-width: 20px;
  }

  .slider-thumb-target::-webkit-slider-thumb {
    width: var(--slider-thumb-width);
    height: 100%;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
  }

  .slider-thumb-target::-moz-range-thumb {
    width: var(--slider-thumb-width);
    height: 100%;
    background: transparent;
    border: 0;
  }
}
